@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<<<<<<< HEAD
    <h1 class="display-4">Welcome</h1>
=======
    <h1 class="display-4">Welcome to Suraj's' ascendion Capstone project-dev2 </h1>
>>>>>>> 9aa030e9ef9185baa83169bd6a8cd33c5e32352d
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
